body{
    background-color: beige;
    color: black;
    }

    .new{
        font-size: 30px;
    }

    @media screen and (max-width :900px){
    body{
        background-color: brown;
    }

    }

    @media screen and (max-width:500px){
    body{
        background-color: chartreuse;
    }
    }
    @media (orientation:landscape){
     .main{
        color: chocolate;
     }
    }
    @media (any-hover:hover){
        a:hover{
            background-color: yellow;
        }
    }